<ion-list>
  <ion-list-header>
    <ion-label>Notificações</ion-label>
  </ion-list-header>
  <ion-item *ngIf="loading">
    <ion-spinner name="circular"></ion-spinner>
  </ion-item>
  <ion-item *ngFor="let notification of notificationsList">
    <ion-button (click)="onClickOpenNotification()" class="notification-item">
      <ion-icon slot="start" name="newspaper"></ion-icon>
      <ion-label>Conta: {{ notification.idConta }}</ion-label>
      <ion-label>Lembrete em: {{ notification.dataLembrete }}</ion-label>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="!loading && notificationsList.length === 0">
    <ion-label>Sem notificações no momento!</ion-label>
  </ion-item>
</ion-list>