<div id="add-bill" class="bills-modal hidden">
  <ion-card class="bills-modal-card" >
    <ion-card-title>
      <ion-label>
        Registrar nova conta
      </ion-label>
    </ion-card-title>
    <ion-card-content>
      <form >
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-label position="floating">Descrição: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input name="descricao" class="light-input" required type="ion-text" [(ngModel)]="descricao"></ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-label position="floating">Data de vencimento da conta: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input name="vencimento" class="light-input" required type="date" [(ngModel)]="vencimento"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label position="floating">Valor da conta: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input name="Valor" class="light-input" placeholder="R$" type="number" required [(ngModel)]="valor"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col syze="10">
              <ion-label position="floating">Receber notificação de conta prestes a vencer</ion-label>
              <ion-checkbox name="checkbox" [(ngModel)]="checkbox"  (click)="salvarDataDeNotificacao()" class="light-input" [value]="false" ></ion-checkbox>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button block color="light"  (click)="closeEditModal()">
                Cancelar
              </ion-button>
              <ion-button block color="secondary" type="submit"  [disabled]="false">
                Confirmar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</div>
