<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row >
        <ion-col sizeXs="12" sizeLg="6">
          <div>
            <app-grafico-rendimento></app-grafico-rendimento>
          </div>
        </ion-col>
        <ion-col sizeXs="12" sizeLg="6">
          <ion-row class="ion-justify-content-center">
            <ion-button (click)="gastos()">
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <p>Gastos</p>
                <img class="icon" src="../../../../assets/img/gastos.png" alt="cmf-logo">
              </ion-row>
            </ion-button>
            <ion-button (click)="gastos()">
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <p>Lucros</p>
                <img class="icon" src="../../../../assets/img/lucros.png" alt="cmf-logo">
              </ion-row>
            </ion-button>
            <ion-button>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <p>Relatórios</p>
                <img class="icon" src="../../../../assets/img/relatorio.png" alt="cmf-logo">
              </ion-row>
            </ion-button>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-button>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <p>Contas</p>
                <img class="icon" src="../../../../assets/img/conta.png" alt="cmf-logo">
              </ion-row>
            </ion-button>
            <ion-button>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <p>Produtos</p>
                <img class="icon" src="../../../../assets/img/produto.png" alt="cmf-logo">
              </ion-row>
            </ion-button>
            <ion-button>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <p>Categoria</p>
                <img class="icon" src="../../../../assets/img/etiqueta.png" alt="cmf-logo">
              </ion-row>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>   
  </ion-grid>

</ion-content>