<ion-header>
  <app-topbar topbarTitle="Gestão de contas"></app-topbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item class="accordion-item" (click)="toggleModalVisibility('add-transaction')">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-label>Adicionar nova movimentação</ion-label>
      </ion-item>

      <ion-item class="accordion-item" (click)="toggleModalVisibility('add-bill')">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-label>Adicionar nova conta</ion-label>
      </ion-item>

      <ion-item id="fees" class="accordion-item" (click)="toggleAccordion('fees')">
        <ion-icon slot="start" name="chevron-down-outline"></ion-icon>
        <ion-label>Ver meus gastos</ion-label>
      </ion-item>

      <ion-item>
        <div id="fees-content" class="hidden">
          <div class="fees-item">
            <ion-label>Gastos com funcionários</ion-label>
            <ion-label class="light-input">{{feesMapping.workers}}</ion-label>
          </div>

          <div class="fees-item">
            <ion-label>Gastos com impostos</ion-label>
            <ion-label class="light-input">{{feesMapping.taxes}}</ion-label>
          </div>

          <div class="fees-item">
            <ion-label>Gastos com produtos</ion-label>
            <ion-label class="light-input">{{feesMapping.products}}</ion-label>
          </div>

          <div class="fees-item">
            <ion-label>Gastos totais</ion-label>
            <ion-label class="light-input">{{feesMapping.total}}</ion-label>
          </div>
        </div>
      </ion-item>

      <ion-item id="earnings" class="accordion-item" (click)="toggleAccordion('earnings')">
        <ion-icon slot="start" name="chevron-down-outline"></ion-icon>
        <ion-label>Ver meus lucros</ion-label>
      </ion-item>
      <ion-item id="earnings-content" class="hidden">
        <ion-row>
          <ion-col size="6">
            <p>teste3</p>
          </ion-col>
          <ion-col size="6">
            <p>teste4</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<div id="add-transaction" class="bills-modal hidden" (click)="toggleModalVisibility('add-transaction')">
  <ion-card class="bills-modal-card" (click)="preventDefault($event)">
    <ion-card-title>
      <ion-label>Adicionar Movimentação</ion-label>
    </ion-card-title>
    <ion-card-content>
      <form [formGroup]="addTransaction" (ngSubmit)="onAddTransaction()">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-label>Tipo de movimentação <ion-text color="danger">*</ion-text></ion-label>
              <ion-select class="light-input" formControlName="transactionType" multiple="false" placeholder="Selecione...">
                <ion-select-option value="ENTRADA">Entrada</ion-select-option>
                <ion-select-option value="SAIDA">Saída</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="6">
              <ion-label position="floating">Valor da movimentação <ion-text color="danger">*</ion-text></ion-label>
              <ion-input class="light-input" required formControlName="transactionValue" placeholder="R$" type="number"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label position="floating">Produto relacionado? <ion-text color="danger">*</ion-text></ion-label>
              <ion-checkbox class="light-input" [value]="false" formControlName="relatedProduct"></ion-checkbox>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="addTransaction.get('relatedProduct').value">
            <ion-col size="6">
              <ion-label position="floating">Nome do produto</ion-label>
              <ion-select class="light-input" formControlName="productName" multiple="false" placeholder="Selecione...">
                  <ion-select-option *ngFor="let product of availableProducts" [value]="product.idProduto">{{product.nome}}</ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col size="6">
              <ion-label position="floating">Quantidade</ion-label>
              <ion-input class="light-input" formControlName="productQuantity" type="number"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button block color="light" (click)="toggleModalVisibility('add-transaction')">
                Cancelar
              </ion-button>
              <ion-button block color="secondary" type="submit" (click)="onAddTransaction()" [disabled]="addTransaction.invalid">
                Confirmar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</div>

<div id="add-bill" class="bills-modal hidden" (click)="toggleModalVisibility('add-bill')">
  <ion-card class="bills-modal-card" (click)="preventDefault($event)">
    <ion-card-title>
      <ion-label>
        Registrar nova conta
      </ion-label>
    </ion-card-title>
    <ion-card-content>
      <form (ngSubmit)="onAddBill()">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-label position="floating">Descrição: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input name="descricao" class="light-input" required type="ion-text" [(ngModel)]="descricao"></ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-label position="floating">Data de vencimento da conta: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input name="vencimento" class="light-input" required type="date" [(ngModel)]="vencimento"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label position="floating">Valor da conta: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input name="Valor" class="light-input" placeholder="R$" type="number" required [(ngModel)]="valor"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col syze="10">
              <ion-label position="floating">Receber notificação de conta prestes a vencer</ion-label>
              <ion-checkbox name="checkbox" [(ngModel)]="checkbox" (click)="diaAnterior()" class="light-input" [value]="false" ></ion-checkbox>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button block color="light" (click)="toggleModalVisibility('add-bill')">
                Cancelar
              </ion-button>
              <ion-button block color="secondary" type="submit" (click)="onAddBill()" [disabled]="false">
                Confirmar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</div>

<ion-button id="modalBill" (click)="onClickViewBill(bill)" class="toggleAccordion">
  <ion-icon slot="start" name="chevron-down-outline"></ion-icon>
  <ion-label>Ver minhas contas</ion-label>
</ion-button>
