<ion-header>
  <app-topbar topbarTitle="Movimentações"></app-topbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-between">
      <ion-col size="10" sizeMd="11">
        <h4>Gestão de movimentações</h4>
      </ion-col>
      <ion-col size="2" sizeMd="1">
        <ion-button (click)="onClickAddTransaction()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5">
        <ion-label>Nome</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>Valor</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>Ordem</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>Ações</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-spinner name="circular" *ngIf="loading"></ion-spinner>
          <ion-item *ngFor="let transaction of availableTransactions">
              <ion-col size="5">
                <ion-label>{{ transaction.tipoMovimentacao }}</ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label>{{ transaction.valor }}</ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-icon
                  name="arrow-up"
                  *ngIf="transaction.ordem === 'ENTRADA'"
                  title="Entrada"
                  color="success"
                ></ion-icon>
                <ion-icon
                  name="arrow-down"
                  *ngIf="transaction.ordem === 'SAIDA'"
                  title="Saída"
                  color="danger"
                ></ion-icon>
              </ion-col>
              <ion-col size="2">
                <ion-button (click)="onEditTransaction(transaction)" color="warning">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button (click)="onDeleteTransaction(transaction)" color="danger">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>
          </ion-item>

          <ion-item *ngIf="!loading && !availableTransactions.length">
            <ion-label>Sem movimentações para mostrar no momento.</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
